# backup
*~
*.swp
[#]*[#]

# ignore bundle directory of vim/neovim
.vim/bundle
.nvim/bundle
.vim/plugged
.nvim/plugged
.nvim/.netrwhist

# ignore .emacs.d/* except emacs.d/elisp
.emacs.d/*
!.emacs.d/elisp

# eclim related
.nvim/eclim
.nvim/plugin/eclim*
